/*----- VARIABLES : COLORS ----- */

$blue-green: #005856;
$dark-blue: #233A3F;
$old-pink: #80544D;
$jaune-moutarde: #E39D24;
$jaune-clair: #F2E4CA;
$light-pink: #EFEAE8;

// $bright-blue: #0CA6C7;
// $medium-green: #A1CABA;
// $light-green: #DDECE6;

$primary-color: $old-pink;
$secondary-color: $blue-green;
$accent-color: $jaune-moutarde;
$accent-light: $light-pink;

$light-gray: #F4F4F4;
$medium-gray: #D9D9D9;
$dark-gray: #575759;
