/*----- VARIABLES : FONTS ----- */

@import url("https://use.typekit.net/foi8snr.css");

$body-font: 'rubik', sans-serif; // weight: 300 or 400
$headers-font: 'europa', sans-serif; // weight: 700
$accent-font: 'interstate-mono', serif; //weight: 400 or 700

body {
  font-family: $body-font;
}

h1, h2, h3, h4, h5, h6 {
  font-family: $headers-font;
  color: $primary-color;
  font-weight:700;
  text-transform: uppercase;
}

.accent-text, em {
  font-family: $accent-font;
  font-weight: 400;
}


// font weights

.text-strong {
  font-weight: 700;
}

.text-normal {
  font-weight: 400;
}

.text-light {
  font-weight: 300;
}

// transforms

.text-uppercase {
  text-transform: uppercase;
}
